* {
    box-sizing: border-box
}

body {
    font-family: "Roboto", "Helvetica Neue", "sans-serif";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eeeeee;
    color: black;
    /*padding: 1.5em;*/
    margin: 0;
}

footer {
    background-color: #f9f9f9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1em;
}

footer a {
    text-decoration-line: none;
    padding: 2%;
}

main {
    margin-top: 8em;
    margin-left: 2em;
    margin-right: 2em;
}

img {
    width: 15%;
}

Button:hover {
    opacity: 0.8;
}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
}


.resMain {
    margin-top: 23em;
}

/* Sterne bewertung */
.checked {
    color: orange;
}

.searchImg {
    width: 50%;
}

#searchInput {
    background: url('../icons/searchicon.png') no-repeat 10px 12px;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}



